@layer utilities {

  /* Animate the warning icon subtly */
  @keyframes bounce-short {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-5px);
    }
  }

  .animate-bounce-short {
    animation: bounce-short 2s ease-in-out infinite;
  }

  /* Custom Scrollbar for the terminal */
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #1a1a1a;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 3px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}